[Unit]
Description=Guayusa swayidle before-sleep lock policy
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w before-sleep 'swaylock -f' lock 'swaylock -f' unlock 'pkill -xu "$USER" -SIGUSR1 swaylock'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
