[Unit]
Description=A D-Bus controllable idle inhibitor for Wayland
Documentation=https://github.com/Crown421/guayusa-wl
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/guayusa
Restart=on-failure

[Install]
WantedBy=graphical-session.target
